@import "./utils/variables";
@import "./base/fondations";
@import "./components/btn";
@import "./layouts/bem";
@import "./pages/page";

@keyframes retro {
    0%{
        transform: translateY(30%);
        opacity :0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.arrow
{
    font-size: 20px;
    color: grey;
    left: 28px;
    top: 23px;
    position: absolute;
}


h3{
    position: relative;
    &::after{
        content:"";
        height: 3px;
        width: 40px;
        background-color: $tertiaire;
        position: absolute;
        top: 45px;
        left: 17px;
    }
}

.size_btn_commander
{
    width: 150px;
    height: 50px; 
}
.footer--modif
{
    background-color: #3b3b3b;
    margin-top: 15000px;
}


.container_Menu
{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px 20px 0 0;
    margin-top: -40px;
    padding: 20px;
    .menu
    {
        &__between{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        }
        &__title
        {
            font-family: 'Shrikhand', cursive;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 1.7em;
            font-weight: 400;
            padding: 1rem;
        }
        &__sous_title
        {
            padding-bottom: 10px;
            font-weight: 50;
            color: rgba(0, 0, 0, 0.534);
            padding: 1rem;
        }
        &__flex
        {
            display: flex;
        }

        &__card
        {
            max-width: 100%;
            height: 80px;
            margin-bottom: 20px;
            background-color: white;
            overflow: hidden;
            text-overflow: ellipsis;
           
            -webkit-animation: retro 1s  ;
            &:hover .menu__block_check{
                transform-origin: right;
                transition:  1000ms;
                margin-right: 0;
            }
                            
            &:hover .menu__rounded
            {
                    transition:  1000ms;
                     transform: rotate(360deg);
            }
        }
        &__margin_price
        {
            margin-left: auto;
            padding: 1rem;
        }
        &__block_check
        {
            width: 5rem;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #99E2D0;
            margin-top: -55px;
            margin-right: -5rem;
            border-radius: 0 1rem 1rem 0;
        }
        &__size_txt
        {
            font-size: 1.1em;
            padding-top: 1rem;
            padding-left: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space:nowrap;
        }
        &__padding
        {
            padding-left: 1rem;
            padding-bottom: 1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space:nowrap;
        }
            &__rounded
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: white;
                color: #99E2D0;
            }
    }
}

@media all and (max-width:1280px) and (min-width:690px)
{
    .menu__card{
        width: 48%;
        margin: 5px;
    }
    .card_picture
    {
        width: 100%;
        max-height: 400px;
        min-height: 300px;
        object-fit: cover;
    }
}
@media all and (min-width:1280px)
{
    .menu__card{
        width: 30%;
        margin: 5px;
    }
    .card_picture
    {
        width: 100%;
        height: 500px; 
        object-fit: cover;
    }
}

@media all and (max-width:690px)
{
    .menu__card{
        width: 100%;
    }
}
@media all and (min-width:600px)
{

    .flex_entres
    {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}