* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  }
  
  .txt_police {
    font-family: 'Roboto', sans-serif; 
  }
  
  /*HEADER*/
  .txt_bold {
    font-weight: bold; }
  
  /*size title*/
  .size_text_title {
    font-size: 1.5em; }
  