.margin-location
{
  margin-right: 5px;
}
.animation_loading
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  animation: white-page 2000ms;
  animation-delay: 1ms;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader
{
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;

  &__bar_purple
  {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 10px solid rgb(252, 189, 237);
    justify-content: center;
    align-items: center;
  }
  &__bar_green
  {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 10px solid #99e8a74d;
  }
  &__bar_lightpurple
  {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 10px solid rgba(252, 189, 237, 0.384);
  }
}
.loader__bar_purple::after{
  content:'';
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 120px;
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-top-color:rgba(176,119,255,1);
  -webkit-animation: spin 1s linear infinite ;
  animation: spin_purple 1s linear infinite;
  justify-content: center;
  align-items: center;
}
.loader__bar_lightpurple::after{
  content:'';
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  border: 10px solid transparent;
  border-top-color:#FF79DA ;
  -webkit-animation: spin 1s linear infinite ;
  animation: spin_lightpurple 1s linear infinite;
}
.loader__bar_green::after{
  content:'';
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 80px;
  width: 60px;
  height: 60px;
  border: 10px solid transparent;
  border-top-color:#99E2D0;
  -webkit-animation: spin 1s linear infinite ;
  animation: spin_green 1s linear infinite;
}
@-webkit-keyframes spin_purple {
  0% {
    -webkit-transform: rotate(0deg); transform: rotate(0deg);
  }
  100%{-webkit-transform: rotate(360deg); transform: rotate(360deg);

  }
}
@-webkit-keyframes spin_green {
  0% {
    -webkit-transform: rotate(0deg); transform: rotate(0deg) ;
  }
  100%{-webkit-transform: rotate(360deg); transform: rotate(-360deg);

  }
}
@-webkit-keyframes spin_lightpurple {
  0% {
    -webkit-transform: rotate(0deg); transform: rotate(0deg);
  }
  100%{-webkit-transform: rotate(360deg); transform: rotate(360deg);

  }
}
@keyframes white-page
{
  0% {
    
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40%{
      opacity: 1;
  }
  50% {
    opacity:1;
  }
  60% {
    opacity: .8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loading-page
{
  0% {
    background-color: white;
    opacity: 0;
  }
  10% {
    background-color: white;
    opacity: 0.1;
  }
  20% {
    background-color: white;
    opacity: 0.2;
  }
  30% {
    background-color: white;
    opacity: 0.3;
  }
  40%{
      background-color: white;
      opacity: .4;
  }
  50% {
    background-color: white;
    opacity: .5;
  }
  60% {
    background-color: white;
    opacity: .6 ;
  }
  70% {
    background-color: white;
    opacity: 0.7;
  }
  80% {
    background-color: white;
    opacity: 0.8;
  }
  90% {
    background-color: white;
    opacity: 0.7;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}


.size_location {
    width: 100%;
    height: 40px;
    background: $wbeige; }
    
    .size_location .margin_icon_location {
      margin-left: 10px
      }
  
  .block_exploration {
    width: 100%;
    height: 262px;
    background: $beige; 
  
    &__title {
      padding-top: 40px;
      width: 100%; 
    }
    &__margin{
      margin-top: 10px;
      margin-bottom: 20px; }
  }


  .restaurants {
    background-color: $beige;
    padding-bottom: 50px;
    padding-top: 35px; 
    &__margin_title{
      padding: 20px; }
  }
  .card{
    &__footer{
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__heart
    {
      font-size: 25px;
    }
  }
  
  
  .block_restaurant {
    padding: 20px; 
    &__card > a {
      text-decoration: none;
      color: $black; }
    }

    .fondfiltres {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      position: absolute;
      margin-left: -45px;
      background-color: $purple;
      display: flex;
      justify-content: center;
      align-items: center;
     }
     /*Fonctionnement*/
.block_fonctionnement {
  padding-top: 35px; 
  &__margin_title {
    padding: 20px; } 
    
  &__number_color {
    color: $number_color;
  }
}
.card_filter_fonctionnement{
  &:hover
  {
    background-color: $background_fonctionnement;
  }
  &:hover i
  {
    color: $purple;
  }
}
.color_background_card_filter:hover {
  background: $dark_purple; }

.size_filter:hover > .size_icon {
  color: $purple; }

.filter_rounded {
  border-radius: 20px; }

.margin_icon_fonctionnement {
  margin-left: 40px; }

  .new
  {
    position: relative;
  }
  .new::before{
    content: "Nouveau";
    position: absolute;
    background-color: #99E2D0;
    color: #337254;
    right: 1.0rem;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 6%;
  }