$dark_grey:#3b3b3b;
$beige: #F2F2F2;
$purple:#9356DC;
$wbeige:#e4e4e4;
$dark_purple:#9256dc38;
$grey: #808080;
$white: #ffffff;
$black:black;
$shadow_btn :rgb(0,0,0,0.10);
$shadow :rgb(0,0,0,0.10);
$shadow_size :2px 2px 2px 2px;
$shadow_modif :rgb(0,0,0,0.40);
$tertiaire : #99E2D0;
$number_color:white;
@mixin box_shadow($color: colour-primary)
{
    box-shadow:$shadow_size $shadow
}

@mixin degrade {
    background: linear-gradient(150deg, rgba(255,121,223,1) 0%, rgba(176,119,255,1) 68%);
}
@mixin color_background_heart {
    background-image: linear-gradient(150deg, rgba(255,121,223,1) 0%, rgba(176,119,255,1) 68%);
    background-clip: text;
    -webkit-background-clip: text;
}
@mixin color_heart {
    color: rgb(255,121,223);
}